[init]
	defaultBranch = main
[user]
	email = wooboox@gmail.com
	name = Piotr Żabówka
[credential "https://github.com"]
  helper = 
  helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
  helper = 
  helper = !/usr/bin/gh auth git-credential
